*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 52px;
    border-bottom: 2px solid black;
    text-align: center;
    margin-top: 2%;
}
h2{
    text-align: center;

}